@if(APIError){
    <h1 class="text-4xl text-main">Failed to load Category</h1>
}
@else{
    <section class="w-75 mx-auto rounded shadow bg-main-light p-3 m-16">
        <div class="row g-4 align-items-center">
          <div class="col-md-6">
            <img class="w-[20%]" [src]="categoryDetails.image" [alt]="categoryDetails.name">
          </div>
          <div class="col-md-6 m-3">
            <h2>{{categoryDetails.name}}</h2>
          </div>
          <div>
              <p class="text-main m-1">Created at : {{categoryDetails.createdAt}}</p>
              <p class="text-main m-1">Updated at : {{categoryDetails.updatedAt}}</p>
            </div>
        </div>
      </section>
}
