<footer class="footer bg-[#dcdddd] py-10">
    <div class="container">
            <h2 class="footer__title text-3xl mb-3">Get the FreshCart app</h2>
            <p class="footer__desc mb-6">We will send you a link, open it on your phone to download the app</p>
            <div class="footer__supscripe flex gap-x-3 mb-8">
                <input type="text" placeholder="Email .." class="w-[90%] rounded-md">
                <button class="bg-main text-white py-1 w-[20%] rounded-md">Share App</button>
            </div>
            <div class="footer__payment flex justify-between border-t-[1px] border-gray border-b-[1px] py-5">
                
                <div class="flex items-center gap-3">
                    <p>Payment Partners</p> 
                    <ul class="flex items-center gap-2">
                        <li><img class="w-[50px]" src="images/amazon-pay.png" alt=""></li>
                        <li> <img class="w-[50px]" src="images/American-Express-Color.png" alt=""></li>
                        <li><img class="w-[50px]" src="images/mastercard.webp" alt=""></li>
                        <li><img class="w-[50px]" src="images/paypal.png" alt=""></li>
                    </ul> 
                </div>                         
                                       
                <div class="flex items-center gap-3">
                    <p>Get delivers with FreshCart</p>
                    <ul class="flex items-center">
                        <li><img class="w-[100px]" src="images/get-apple-store.png" alt=""></li>
                        <li><img class="w-[100px]" src="images/get-google-play.png" alt=""></li>
                    </ul>
                </div>
            </div>
    </div>
</footer>
