<div class="product mb-4 group w-full">
    <a [routerLink]="['/productDetails',product._id]">
        <img [src]="product.imageCover" class="w-full" alt="" />
        <span class="text-main">{{ product.category.name }}</span>
        <h2 class="mb-3">{{ product.title.split(" ").splice(0, 2).join(" ") }}</h2>
        <div class="flex justify-between">
          <p>{{ product.price }}</p>
          <p><i class="fa fa-star text-[#ffc908]"></i>{{ product.ratingsAverage }}</p>
        </div>
    </a>
      
  
@if(changeColor){
  <button class="btn btn-link ms-44  "(click)="addItemToWishlist(product.id)" ><i class="fa-solid fa-heart fa-2x" style="color: #fa000c;"></i></button>
}
@else{
  <button class="btn btn-link ms-44  "(click)="addItemToWishlist(product.id)" ><i class="fas fa-heart fa-2x "></i></button>
}
  
      <button
  (click)="handleAddToCart(product._id)"
    class="mt-3 bg-main text-white p-2 rounded w-[70%] block opacity-0 group-hover:opacity-100 transition-all 
    duration-500 translate-y-[100%] group-hover:translate-y-[0%]">
        Add to cart     
  </button>
   
   
</div>

 